@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

body {
	background-color: #fff;
}

h2 {
	font-family: Lato;
	font-size: 2.25em;
	font-weight: 700;
}

h3 {
	font-family: Lato;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 10px;
}

h4 {
	font-family: Lato;
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 10px;
}

h5 {
	font-family: Lato;
	font-size: 1.25em;
	font-weight: 300;
	margin-top: 10px;
}

h6 {
	font-family: Lato;
	font-size: 0.9em;
	font-weight: 300;
}

p {
	font-family: Lato;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 10px;
}

.conteiner {
	padding-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

	.navbar {
		background-color: #f8f9fa;
		margin-bottom: 0;
		height: 55px;
	}

	.navbar .navbar-brand {
		color: #000;
		font-size: 1.4em;
		text-decoration: none;
	}

	.button {
		width: 80px;
		height: 40px;
		background-color: #007BFF;
		color: #fff;
		border: none;
		border-radius: 5px;
		float: right;
		}

	.button:hover {
		background-color: #0069D9
	}

.header-banner {
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(img/bg-masthead.jpg);
	background-position: center;
}

	.banner {
	max-width: 850px;
	}

	.banner-text {
		color: #fff;
		text-align: center;
		font-size: 4.5rem;
		font-weight: 700;
		margin-bottom: 40px;
	}

	form {
		text-align: center;
	}
	
	input[type=email] {
	width: 400px;
	height: 50px;
	border-radius: 5px;
	border: none;
	}

	input[type=submit] {
	width: 150px;
	height: 50px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	}

	input[type="submit"]:hover {
	background-color: #0069D9
	}

i {
	color: #007BFF;
	font-size: 4.5em;
}

.boxes {
	text-align: center;
	background-color: #f8f9fa;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
	min-height: 30rem;
    background-size: cover;
}

.col-lg-6.col-inverse {
	float: right;
}

.no-gutters .col-lg-6 {
	padding-right: 0;
	padding-left: 0;
}

section .row {
	margin: 0;
}

	#row-text {
		padding: 110px;
		margin-bottom: 41px;
		margin-top: 40px;
	}

.testimonials {
	text-align: center;
	background-color: #f8f9fa;
	padding-top: 6em;
	padding-bottom: 6em;
	min-height: 30rem;
    background-size: cover;
}

	.testimonials-photo {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}

.signup {
min-height: 334px;
display: flex;
align-items: center;
justify-content: center;
background-image: url(img/bg-masthead.jpg);
background-position: center;
}

.list-inline-item {
	display: inline;
	margin-right: 15px;
}

.list-inline-icons-item {
	list-style-type: none;
	display: inline;
	text-align: left;
}